@model DotnetPlayground.ViewModels.TaskListViewModel

@{
    ViewData["Title"] = "Task List";
}

<section class="tasks--listing">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 ps-lg-0">
                <h2>Task List</h2>

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <form asp-action="AddTask" method="post">
                        <div class="form-group">
                            <label for="NewTask_Description">New Task</label>
                            <input type="text" class="form-control" id="NewTask_Description" name="NewTask.Description" required />
                        </div>
                        <button type="submit" class="button--green">Add Task</button>
                    </form>
                }
                else
                {
                    <p>This task list provides an overview of important tasks and their current status.</p>
                }
            </div><!-- col -->

            <div class="col-md-7 col-lg-8 offset-md-1">
                <form asp-action="Index" method="get" class="tasks-search">
                    <div class="form-group">
                        <label for="searchString">Search Tasks</label>
                        <input type="text" name="searchString" id="searchString" value="@Model.SearchString" class="form-control" />
                    </div>
                    <button type="submit" class="button--green">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M21 3C11.602 3 4 10.602 4 20s7.602 17 17 17c3.355 0 6.46-.984 9.094-2.656l12.281 12.281 4.25-4.25L34.5 30.281C36.68 27.421 38 23.88 38 20c0-9.398-7.602-17-17-17Zm0 4c7.2 0 13 5.8 13 13s-5.8 13-13 13S8 27.2 8 20 13.8 7 21 7Z" /></svg>
                        <span class="visually-hidden">Search</span>
                    </button>
                    <a asp-action="Index" asp-controller="Tasks" class="button--green">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 512 512"><path d="M64 256H34a222 222 0 0 1 396-137.85V85h30v105H355v-30h67.27A192.21 192.21 0 0 0 256 64C150.13 64 64 150.13 64 256Zm384 0c0 105.87-86.13 192-192 192a192.21 192.21 0 0 1-166.27-96H157v-30H52v105h30v-33.15A222 222 0 0 0 478 256Z" /></svg>
                        <span class="visually-hidden">Reset</span>
                    </a>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr class="@(task.IsComplete ? "__completed" : "")">
                                <td>
                                    @if (task.IsComplete)
                                    {
                                        <s>@task.Description</s>
                                    }
                                    else
                                    {   
                                        @task.Description
                                    }
                                </td>
                                <td class="tasks-actions">
                                    <form asp-action="ToggleComplete" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@task.Id" />
                                        <button type="submit" class="button--green">
                                            @if (task.IsComplete)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 329.028 329.028"><path d="M241.853 72.46 252.7 17.926a15 15 0 0 0-23.046-15.398L156.181 51.62l-.015.011c-.339.227-.663.476-.982.729-.065.052-.137.098-.201.15a15.12 15.12 0 0 0-1.077.978c-.105.105-.198.222-.3.33-.231.246-.465.49-.68.751-.086.104-.159.217-.242.324-.217.279-.435.559-.632.853-.05.074-.091.153-.139.228-.218.337-.429.677-.618 1.031-.021.04-.039.083-.06.123-.207.393-.4.794-.571 1.206-.009.02-.015.042-.023.062-.177.431-.337.871-.475 1.321-.012.041-.02.084-.031.125-.127.428-.239.86-.327 1.303l-.005.02c-.027.137-.038.276-.062.414-.058.339-.117.678-.151 1.025-.044.44-.062.881-.066 1.321-.001.056-.009.11-.009.167v.004c0 .5.026.999.075 1.495.031.307.087.606.135.907.029.181.047.362.083.542.077.387.18.765.286 1.142.025.091.043.184.07.274.121.398.266.786.418 1.17.027.069.048.141.076.21.162.389.345.766.537 1.137.033.064.06.131.094.194.206.384.432.755.67 1.118.029.046.054.095.084.141l.013.02.04.059 49.041 73.395a15 15 0 0 0 27.184-5.407l7.052-35.455c23.901 20.188 39.109 50.36 39.109 84.022 0 60.636-49.331 109.968-109.967 109.968-60.637 0-109.969-49.332-109.969-109.968 0-29.373 11.44-56.988 32.21-77.759 5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.356-5.858-21.213 0-26.437 26.437-40.997 61.586-40.997 98.972 0 77.178 62.79 139.968 139.969 139.968 77.178 0 139.967-62.79 139.967-139.968 0-48.607-24.91-91.499-62.629-116.6z" /></svg>
                                            }
                                            else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M41.938 8.625a2 2 0 0 0-1.626.938L21.5 38.343 9.312 27.814a1.992 1.992 0 0 0-2.03-.52 1.998 1.998 0 0 0-.595 3.52l13.938 12.062a2.005 2.005 0 0 0 1.582.453 2.01 2.01 0 0 0 1.387-.89L43.687 11.75a1.997 1.997 0 0 0-1.75-3.125Z" /></svg>
                                            }
                                            <span class="visually-hidden">@(task.IsComplete ? "Undo" : "Complete")</span>
                                        </button>
                                    </form>
                                    <form asp-action="EditTask" method="get" style="display:inline;">
                                        <input type="hidden" name="id" value="@task.Id" />
                                        <button type="submit" class="button--green">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.172 2c-.724 0-1.448.276-2 .828L16 4l4 4 1.172-1.172a2.83 2.83 0 0 0-2-4.828zM14.5 5.5 3 17v4h4L18.5 9.5l-4-4z" /></svg>
                                            <span class="visually-hidden">Edit</span>
                                        </button>
                                    </form>
                                    <form asp-action="DeleteTask" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@task.Id" />
                                        <button type="submit" class="button--red">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" preserveAspectRatio="xMidYMid"><path d="M13 3a1 1 0 0 0-1.014 1H6a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2h-5.986A1 1 0 0 0 17 3h-4zM6 8v16a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8H6z" /></svg>
                                            <span class="visually-hidden">Delete</span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>

